h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5em;
  line-height: 1.5;

}
h2{
  font-family: 'Montserrat';
  font-size:3rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15% 7%;
}

/* Navbar */

.navbar{
  padding: 0 0 4.5rem 0;
}
.navbar-brand{
  font: 'Ubuntu' ;
  font-size: 2rem;
  font-weight: bold;
}
.nav-item{
  padding: 1rem;
}
.nav-link{
  font-size: 1.2rem;
}
#title{
  background-color:#ff4c68;
  color:white;
}
/* Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Image */
.iphone{
  width: 22%;
transform: rotate(25deg); /*this function is used to rotate the image by any angle is given positive angle then clockwise and for negative angle counterclockwise */
position: absolute;
left:55%;
}

/* Features Section */
.feature{
  font-family: 'Montserrat';
  font-size: 1.5rem;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 10;
}
.feature-image{
  color: #ef8172;
  padding: 3%;

}
.feature-image:hover{
  color: #ff4c68;
}
.col-lg-4{
  text-align: center;
  padding: 3%
}
/* Testimonials */
#testimonials{

  text-align: center;
  background-color:  #ef8172;
  color: white;
}
.dog-image{
  border-radius: 100%;
  width: 20%;
  margin:20px;
}
.carousel-item{
  padding: 7% 15%;
}

/* Press */
#press{
  background-color:  #ef8172;
  padding-bottom:3%;
  text-align: center;
}
.press-logo{
  width: 15%;
  margin: 2%;
}
.sign-up{
  width: 100%;
}

/* Pricing */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 5% 2%;
}

@media (max-width:1028px) {
  .iphone{
    transform: rotate(0);
    position: static;
    width:60%;
  }
  #title{
    text-align: center;
  }

}
#cta{
  padding: 70px 230px 100px;
  background-color:#ff4c68;
  text-align: center;
}
.last-text{
  padding: 30px;
  font-family: 'Montserrat';
  color: white;
  font-size: 3rem;
}
#footer{
    padding: 50px 50px 0px;
    text-align: center;
}
.copyright{
  padding: 30px 30px 0px;

  color: grey;
}
.social-media{
  padding: 10px;
}
